<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ok.madicalalatheer">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="المركز الطبى"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".animation.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Login"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".addIdea.activity_addIdea" />
        <activity android:name=".AddGoal.AddGoal" />
        <activity android:name=".procedure.activity_procedure" />
        <activity android:name=".AddGoal.DetalsAddGoal" />
        <activity android:name=".Reportes.MainReport" />
        <activity android:name=".Reportes.TableLayoutGoals" />
        <activity
            android:name=".Reportes.TableLayoutPerformance"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>