<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ok.madicalalatheer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addIdea.activity_addIdea"></activity>
        <activity android:name=".AddGoal.AddGoal"></activity>
        <activity android:name=".procedure.activity_procedure"></activity>
        <activity android:name=".AddGoal.DetalsAddGoal"></activity>
    </application>

</manifest>